.app-container {
  width: 100%;
  min-height: 100vh;
  background-color: #181A1B;
  color: #E6E7E8;
  
}

.app-container .mat-sidebar {
  width: 260px;
  border-color: #3A3F43;
}

.app-container #open{
  color: #8A7A55;
}

.app-container #close{
  color: #B85C5C;
}