<div class="padding-g">
    <mat-toolbar class="dashboard-toolbar">
        <mat-toolbar-row>
            <span>DASHBOARD</span>
        </mat-toolbar-row>
        <mat-toolbar-row class="subtitle">
            <span>Acompanhe seu progresso de leitura...</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-header">
            <mat-card-title class="title">
                <mat-icon class="icon">auto_stories</mat-icon>
                Continuar Leitura
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-content">
            @if (continuarLeitura) {
                    <span class="summary">{{continuarLeitura.titulo}} - </span>
                    <span class="summary"> {{continuarLeitura.paginasLidas}} de {{continuarLeitura.totalPaginas}} páginas</span>
            }
            @else {
                <span class="summary">Não há leituras em andamento</span>
            }
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions class="dashboard-actions">
                <button mat-raised-button class="button">Adiconar Livro</button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
    <br>
    <div class="dashboard-cards">
        <mat-card class="dashboard-card" >
            <mat-card-header class="dashboard-header">
                <mat-card-title class="title">
                    <mat-icon class="icon">collections_bookmark</mat-icon>
                    Próximas leituras
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-content">
                @if (proximasLeituras.length > 0 ) {
                    @for (book of proximasLeituras; track book.id) {
                          <span class="summary">{{book.titulo}} - {{book.autor}}</span>
                          <span> </span>
                    }
                }
                @else {
                <span class="summary">Não há livros na fila</span>
                }

            </mat-card-content>
            <mat-card-footer>
                <mat-card-actions class="dashboard-actions">
                    <button mat-raised-button class="button">Ver biblioteca</button>
                </mat-card-actions>
            </mat-card-footer>
        </mat-card>

        <mat-card class="dashboard-card" >
            <mat-card-header class="dashboard-header">
                <mat-card-title class="title">
                    <mat-icon class="icon">bar_chart</mat-icon>
                    Resumo
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-content">
                <span class="summary">Total de livros: {{totalLivros}} </span>
                <span class="summary">Lendo: {{totalLendo}} </span>
                <span class="summary">Quero ler: {{totalQueroLer}} </span>
                <span class="summary">Concluídos: {{totalConcluidos}} </span>
                <span class="summary">Abandonados: {{totalAbandonados}} </span>
            </mat-card-content>
        </mat-card>
    </div>
</div>