<div class="dashboard-container">
    <mat-toolbar class="dashboard-toolbar">
        <mat-toolbar-row>
            <h2 class="toolbar-title">DASHBOARD</h2>
        </mat-toolbar-row>
        <mat-toolbar-row class="toolbar-subtitle-row">
            <span class="toolbar-subtitle">Acompanhe seu progresso de leitura...</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="dashboard-grid">
        <mat-card class="custom-card">
            <mat-card-header class="card-header">
                <mat-icon mat-card-avatar class="card-icon">menu_book</mat-icon>
                <mat-card-title class="card-title">Continuar Leitura</mat-card-title>
                @if (continuarLeitura) {
                <mat-card-subtitle class="card-subtitle">
                    {{continuarLeitura.titulo}}
                </mat-card-subtitle>
                }
            </mat-card-header>

            <mat-card-content class="card-body">
                @if (continuarLeitura) {
                    <div class="progress-container">
                        <!-- Substitua pelos atributos de páginas reais da sua API se houver -->
                        <span class="progress-text">{{continuarLeitura.paginasLidas}} / {{continuarLeitura.totalPaginas}} páginas</span>
                        <mat-progress-bar mode="determinate" [value]="progressoLeituraAtual" class="custom-progress-bar"></mat-progress-bar>
                    </div>
                }@else {
                <span class="empty-state">Não há leitura em andamento</span>
                }
            </mat-card-content>

            <mat-card-actions class="card-actions">
                <button mat-stroked-button class="bnt-primary" routerLink="/create-book">Adicionar Livro</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="custom-card">
            <mat-card-header class="card-header">
                <mat-icon mat-card-avatar class="card-icon">collections_bookmarl</mat-icon>
                <mat-card-title class="card-title">Proximas Leituras</mat-card-title>
            </mat-card-header>

            <mat-card-content class="card-body">
                @if (proximasLeituras.length > 0) {
                <mat-list class="custom-mat-list">
                    @for (book of proximasLeituras.slice(0, 3); track book.id) {
                    <mat-list-item class="custom-list-item">
                        <span matListItemTitle class="book-title">{{ book.titulo }}</span>
                        <span matListItemLine class="book-author">{{ book.autor }}</span>
                    </mat-list-item>
                    }
                </mat-list>
                }@else {
                <span class="empty-state">Não há livros na fila</span>
                }
            </mat-card-content>

            <mat-card-actions class="card-actions">
                <button mat-button class="bnt-primary" routerLink="/books">Ver Biblioteca</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="custom-card">
            <mat-card-header class="card-header">
                <mat-icon mat-card-avatar class="card-icon">bar_chart</mat-icon>
                <mat-card-title class="card-title">Resumo</mat-card-title>
            </mat-card-header>

            <mat-card-content class="card-body summary-body">
                <div class="kpi-main-block">
                    <span class="kpi-number">{{totalLivros}}</span>
                    <span class="kpi-label">Total de Livros</span>
                </div>

               <div class="kpi-sub-stats">
                    <div class="stat-item"><strong>{{ totalLendo }}</strong> Lendo</div>
                    <div class="stat-item" id="quero-ler"><strong>{{ totalQueroLer }}</strong> Quero ler</div>
                    <div class="stat-item"><strong>{{ totalConcluidos }}</strong> Concluídos</div>
                    <div class="stat-item" id="abandonado"><strong>{{ totalAbandonados }}</strong> Abandonados</div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

