.container-sidebar{
  height: 100%;
  width: 100%;
  // background-color: #A8ACAF;
}

 .sidebar .divider {
   margin-bottom: 32px;
}

 .container-sidebar .logo-img {
  height: 55px;
  width: auto;
  max-width: 100%;
  padding-top: 10px;
}

.container-sidebar .slogan{
  font-size: small;
  color: #A8ACAF;
}

.container-sidebar button{
  width: 100%;
  border-radius: 0px;
  justify-content: flex-start;
}



