:host{
  display: block;
  height: 100%;
}

.container-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.sidebar .divider {
  margin-bottom: 32px;
}

.container-sidebar .logo-img {
  padding-top: 10px;
}

.container-sidebar .slogan {
  font-size: small;
  color: #A8ACAF;

}

.container-sidebar button {
  width: 100%;
  border-radius: 0px;
  justify-content: flex-start;
}

.container-sidebar .ativo {
  background-color: #BF8F3F;
  color: #E6E7E8;
  border-radius: 8px;
}

.container-sidebar .logout{
  padding: 8px;
  .bnt{
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    min-height: 48px;
  }
}

