<mat-sidenav-container class="container-sidebar" >
  <mat-list class="sidebar">
    
    <mat-toolbar>
      <mat-toolbar-row>
        <span>
          <img [src]="logo" alt="logo" class="logo-img">
        </span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span class="slogan">Acompanhe sua jornada na leitura...</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-divider class="divider"></mat-divider>

    <mat-list-item class="mat-list-button" >
      <button mat-button routerLink="/dashboard">
        Dashboard
        <mat-icon>dashboard</mat-icon>
      </button>
    </mat-list-item>

    <mat-list-item class="mat-list-button">
      <button mat-button>
        Livro
        <mat-icon>book_5</mat-icon>
      </button>
    </mat-list-item>

    <mat-list-item >
      <button mat-button>
        Novo Livro
        <mat-icon>add_2</mat-icon>
      </button>
    </mat-list-item>

    <mat-list-item >
      <button mat-button> Buscar
        <mat-icon>search</mat-icon>
      </button>
    </mat-list-item>

    <mat-list-item class="mat-list-button">
      <button mat-button>
        Estatisticas
        <mat-icon>bar_chart_4_bars </mat-icon>
      </button>
    </mat-list-item>

  </mat-list>
</mat-sidenav-container>