<div class="book-container">
    <mat-toolbar class="book-toolbar">
        <mat-toolbar-row>
            <h2 class="toolbar-title">BIBLIOTECA</h2>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-subtitle-row">
            <span class="toolbar-subtitle">Navegue pelos livros</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="search-field">
        <mat-form-field class="search-book" appearance="fill">
            <mat-label>Pesquisar</mat-label>
            <input matInput [formControl]="searchControl" placeholder="Encontre seu titulo ou autor">
            <mat-icon matPrefix class="search-icon">search</mat-icon>
        </mat-form-field>
    </div>

    <div class="status-book">
        <button mat-flat-button [class.ativo]="filtroAtivo === 'TODOS'" (click)="mostrarTodosLivros()"
            class="bnt">Todos</button>
        <button mat-flat-button [class.ativo]="filtroAtivo === StatusLeitura.QUERO_LER"
            (click)="filtrarPorStatus(StatusLeitura.QUERO_LER)" class="bnt"> ProximasLeituras</button>
        <button mat-flat-button [class.ativo]="filtroAtivo === StatusLeitura.LENDO "
            (click)="filtrarPorStatus(StatusLeitura.LENDO)" class="bnt">Leituras Atuais</button>
        <button mat-flat-button [class.ativo]="filtroAtivo === StatusLeitura.CONCLUIDO "
            (click)="filtrarPorStatus(StatusLeitura.CONCLUIDO)" class="bnt">Concluidos</button>
        <button mat-flat-button [class.ativo]="filtroAtivo === StatusLeitura.ABANDONEI "
            (click)="filtrarPorStatus(StatusLeitura.ABANDONEI)" class="bnt">Abandonados</button>
    </div>

    @if (listBooks) {
    <div class="grid-card">
        @for (book of filteredBooks; track book.id) {
        <mat-card class="custon-card">
            <mat-card-header class="card-header">
                <mat-icon mat-card-avatar class="card-icon">menu_book</mat-icon>
                <mat-card-title class="card-title">{{ book.titulo }}</mat-card-title>
                <mat-card-subtitle class="card-subtitle">{{ book.autor }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="card-body">

                <mat-list>
                    <mat-list-item>
                        <span> {{book.paginasLidas}} / {{book.totalPaginas}} paginas</span>
                        <mat-progress-bar mode="determinate" [value]="progressoLeituraAtual(book)"
                            class="custom-progress-bar"></mat-progress-bar>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="status">{{mapStatus[book.statusLeitura]}}</span>
                    </mat-list-item>
                    
                </mat-list>
            </mat-card-content>
                <div class="card-actions">
                <button mat-button class="edit" (click)="editarLivro(book)">
                    <mat-icon>edit</mat-icon>
                    Editar
                </button>
                <button mat-button class="delete" (click)="deletarLivro(book)">
                    <mat-icon>delete</mat-icon>
                    Excluir
                </button>
            </div>
              
        </mat-card>
        }
    </div>
    }@else{
    <div class="grid-card">
        <mat-card class="custon-card">
            <mat-card-header>
                <mat-icon mat-card-avatar class="card-icon">menu_book</mat-icon>
                <mat-card-title class="card-title">Titulo Livro</mat-card-title>
                <mat-card-subtitle class="card-subtitle">autor</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class="card-body">
                <mat-list>
                    <mat-list-item>
                        <span>0 / 0</span>
                        <mat-progress-bar mode="determinate" value="0" class="custom-progress-bar"></mat-progress-bar>
                    </mat-list-item>
                    <mat-list-item>
                        <span>--</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="id">*---*</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    }
</div>