.book-container .book-toolbar {
    background: transparent;
    padding: 24px 24px 0 24px;
    height: auto;
}

.book-container .toolbar-title {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #E6E7E8;
    margin: 0
}

.book-container .toolbar-subtitle-row {
    height: auto;
    margin-top: 8px;
}

.book-container .toolbar-subtitle {
    font-size: 0.95rem;
    color: #A8ACAF;
}

.book-container .search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}


.book-container .search-book {
    width: 50%;


    .mat-mdc-text-field-wrapper {
        border-radius: 10px;
    }

    .search-icon {
        color: #8A7A55;
        margin-right: 16px;
    }
}

.book-container .status-book {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px;
    gap: 8px;

    .bnt {
        border-radius: 8px;
        padding: 12px;
        transition: background-color 0.2s ease, color 0.2s ease;

    }

    .bnt.ativo {
        background-color: #BF8F3F;
        color: #E6E7E8;
    }

}

.book-container .card-cover {
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.book-container .image {
    max-height: 100%;
    width: 100%;
    max-width: 140px;
    height: auto;
    object-fit: contain;
}

.book-container .card-header {
    min-height: 80px;
}

.book-container .grid-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    margin: 16px 16px 8px;
}

.book-container .custon-card {
    background-color: #2A2E31;
    border: 1px solid #3A3F43;
    border-radius: 8px;
    min-height: 250px;

    box-shadow: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;



    .card-title {
        color: #E6E7E8;
        font-size: 1.15rem;
        font-weight: 600;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .card-subtitle {
        color: #A8ACAF;
        font-size: 0.9rem;
    }

    .status {
        color: #E6E7E8;
        border-radius: 25px;
        border: 1px solid #E6E7E8;
        padding: 4px 8px;
    }

    .LENDO {
        background-color: #3B6E8C;
    }

    .CONCLUIDO {
        background-color: #417255;
    }

    .QUERO_LER {
        background-color: #C9A054;
    }

    .ABANDONEI {
        background-color: #B96D43;
    }



    .card-actions {
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 8px;
        padding: 8px;
        gap: 16px;
        margin-top: auto;

        .delete {
            color: #c85a54;
            border-radius: 10px;
        }

        .edit {
            color: #BF8F3F;
            border-radius: 10px;
        }
    }
}

.book-container .card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;

    .info-status {
        margin-top: 4px;
    }
}

.book-container .pagination {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 8px;
    margin: 8px;
}

.book-container .book-paginator {
    background-color: #3A3F43;
    border-radius: 10px;
    font-size: 0.8rem;
    color: #E6E7E8;
}

// NOTEBOOK / TABLET
@media (max-width: 1200px) {
    .book-container .grid-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .book-container .search-book {
        width: 90%;
    }
}


// CELULAR
@media (max-width: 768px) {
    .book-container .grid-card {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .book-container .search-book {
        width: 90%;
        height: 70px;
    }

    .book-container .text-action {
        display: none;
    }

    .book-container .status-book {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin: 8px;
    }
}

@media (max-width: 380px) {
    .book-container .grid-card {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}