// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './app/styles/theme-colors';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


html {
  @include mat.theme((color: (primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
        theme-type: dark,
      ),
      typography: Lato,
      density: 0,
    ));
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, sans-serif
}

.full-width {
  width: 100%;
}

.padding-p {
  padding: 8px !important;
}

.padding-m {
  padding: 16px !important;
}

.padding-g {
  padding: 24px !important;
}