.pages-login {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.pages-login .container-login {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, #3D3626, #2A2E31, rgba(0, 0, 0, 0.70));
}

.pages-login .form-card {
    background-color: #2A2E31;
    border: 1px solid #3A3F43;
    border-radius: 8px;
    min-height: 260px;
    box-shadow: none;
    padding: 8px;
    width: 500px;
}

.pages-login .form-header {
    padding: 24px 24px 16px 24px;
}

.pages-login .form-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 8px;
}

.pages-login .input-email {
    margin-bottom: 5px;
}

.pages-login .input-password {
    margin-bottom: 5px;
}

.pages-login .form-bnt {
    border-radius: 10px;
    width: 100%;
}

.pages-login .bnt-password {
    background: transparent;
    border: none;
    color: #E6E7E8;

}

@media (max-width: 480px) {
    .pages-login .container-login {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px;

        .form-card{
            width: 100%;
            max-width: 500px;
            
        }
    }
}